<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../Imagenes/LogoACico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/cv.css">
    <title>Cv | Agustín Colombo</title>
</head>

<body>

    <header>
        <div>
            <!--menu navegador y logo-->
            <a href="../index.html"><img src="../Imagenes/LogoAC.png" id="logo" alt="Logo Agustin Colombo"></a>
       
            <nav>
                <div class="hamburger">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <ul class="nav-links">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/portafolio.html">Portafolio</a></li>
                    <li><a href="../views/sobre-mi.html">Sobre mi</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                    <!--<li><a href="../views/behance.html">Behance</a></li>-->
                    <li><a href="../views/cv.html">Curriculum vitae</a></li>
                </ul>
              </nav> 
        </div>

    </header>
    <main>
        <h1>Curriculum vitae</h1>

        <div class="botonesCV">
            <a href="https://www.behance.net/gallery/114717809/%28Esp%29-Portafolio-de-redes-sociales" target="_blank">
                <button class="botonCV">Ver Curriculum vitae en español</button>
            </a>
        </div>

        <div class="botonesCV">
            <a href="../download/(ESP)Portfolio - Agustín Colombo.pdf" download>
                <button class="botonCV">Descargar Curriculum vitae en español</button>
            </a>
        </div>

        <div class="botonesCV">
            <a href="https://www.behance.net/gallery/115250087/%28Eng%29-Social-media-Portfolio" target="_blank">
                <button class="botonCV">Ver Curriculum vitae en inglés</button>
            </a>
        </div>

        <div class="botonesCV">
            <a href="../download/(ENG)Portfolio - Agustín Colombo.pdf">
                <button class="botonCV">Descargar Curriculum vitae en inglés</button>
            </a>
        </div>
    </main>

    <br>
    <br>
    <br>
    <footer>
    <!--redes y contacto-->
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <!--<img src="../Imagenes/LogoFooter.png" id="logoFooter" alt="">-->
                </div>

            </div>
            <div class="box__footer">
                <h3>Sígueme en</h3>
                <a href="https://www.behance.net/agustincolombo1" target="_blank">
                    <i class="fab fa-behance-square"></i>
                    Behance
                </a>
                <a href="https://www.linkedin.com/in/agustincolombo/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    Linkedin
                </a>
                <a href="https://wa.me/5491150029908" target="_blank">
                    <i class="fab fa-whatsapp-square"></i>
                    Celular
                </a>
                <a href="mailto:aguscolombo02@gmail.com">
                    <i class="fas fa-envelope-square"></i>
                    Correo electronico
                </a>
            </div>

            <div class="box__footer">
                <h3>Portafolio</h3>
                <a href="">"Devil"</a>
                <a href="">Grupo | Tress</a>
                <a href="">Propedeuse</a>
                <a href="">Kobe bryant</a>
            </div>

            <div class="box__footer">
                <h3>Sobre mi</h3>
                <a href="./views/sobre-mi.html">Un poco más sobre mi</a>
                <a href="">Especialidades</a>
                <a href="">Educación</a>
                <a href="">Educación en progreso</a>
                <a href="">Experiencia</a>
                <a href="">Programas</a>
            </div>

            <div class="box__footer">
                <h3>Curriculum vitae</h3>
                <a href="">Ver Curriculum vitae en español</a>
                <a href="">Descargar en español</a>
                <a href="">Descargar en ingles</a>
                <a href="">Ver Curriculum vitae en inglés</a>
            </div>
        </div>

        <div class="box__copy">
            <hr>
            <div class="footerLogo">
                <p>
                <a href="#"><img src="../Imagenes/LogoFooter.png" id="logoFooter" alt="Logo AC footer"></a>
                ©2021
                <b>Agustín Colombo.</b>
                <br>
                Buenos Aires, Argentina.</p>
            </div>
        </div> 
                
                <div class="scripts">
                    <!--script bootstrap-->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                        crossorigin="anonymous"></script>

                    <!--script iconos footer-->
                    <script src="https://kit.fontawesome.com/6b7cec75eb.js" crossorigin="anonymous"></script>

                    <!--script navbar-->
                    <script src="/app.js"></script>
                </div>
</body>

</html>